@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <br />
    <img src="https://cdn.sforum.vn/sforum/wp-content/uploads/2022/05/yasuo-dtcl-mua-7.jpg" width="400" height="250" />
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <br />
    <br />
    <h3>Vietnamese Student's TextBook </h3>

</div>
